#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.App{
  display: flex;
  height: calc(100vh);
  align-items: center;
  justify-content: center;
}

.weatherCard{
  border: 1px solid black;
  box-shadow: 2px 2px 8px rgba(76, 76, 76, 0.8);
  background-color: transparent;
  min-width: 300px;
  padding: 1rem;
  border-radius: 1rem;
}

.weatherCard-icon{
  width: 80px;
  height: 80px;
}


.weatherCard-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weather-list li{
  list-style: none;
  color: greenyellow;
}

.tempBtn{
  background-color: purple;
  color: greenyellow;
  font-size: 18px;
  border-radius: 1em;
}

.tempText{
  font-size: 22px;
  color: whitesmoke;
}